$font-stack: Helvetica, sans-serif;
$primary-color: #adbbc4;
$primary-background-color: #1b2a32;
$max-height: 600px;
$max-width: 800px;
$cypress-green: rgb(49, 158, 107);
$pale-green: rgb(248, 251, 249);
$header-bg: #304250;
$action-color: #49afd9;
$button-color: #000000;
$white-text-color: #e9ecef;
$active-bg: #324f61;
$success-color: #60b515;
$drag-color: #495865;

@font-face {
  font-family: 'Metropolis';
  src: url(../Metropolis/Metropolis-Regular.woff);
}

body {
  height: $max-height * 0.8;
  width: $max-width * 0.6;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-background-color;
  overscroll-behavior-y: none;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Metropolis, 'Roboto', sans-serif;

  &:focus {
    outline: 0;
  }
}

#App {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100vh;
  overflow: hidden;
}

#header {
  width: 100%;
  height: 48px;
  background-color: $header-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#body {
  background-color: $primary-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-top: 20px;
  padding: 0 10px;
  color: $primary-color;
  height: calc(100% - 96px);
  overflow-y: scroll;
}

#title {
  color: $white-text-color;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 200;
}

#infobox {
  background-color: $primary-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
}

#footer {
  width: 100%;
  height: 48px;
  background-color: $header-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

  & #toggle-wrap {
    display: flex;
    justify-content: flex-start;
  }

  & #reset-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  & #copy-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  & #toggle {
    align-self: flex-start;
  }
  & #reset {
    align-self: center;
  }
  & #copy {
    align-self: flex-end;
  }
}

/**
 * Conditionally rendered body content.
 */

#landing-box,
#active-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#code-display {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

li {
  display: flex;
  justify-content: space-between;
  width: 98.5%;
  border: 1px solid gainsboro;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;

  & button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-out 75ms, opacity 300ms;
  }

  &:hover {
    cursor: grab;

    & span {
      opacity: 0.7;
    }
    & mark {
      align-self: flex-start;
    }
    & button {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 300ms;
    }
  }
}

li.drag-origin {
  background-color: $drag-color;

  & button {
    display: none;
  }

  & mark {
    background-color: $drag-color;
  }
}

li.code-block {
  background-color: $active-bg;
  overflow-wrap: anywhere;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.delete {
  background-color: $success-color;
  padding: 4px;
  margin: 2px;
  font-size: 13px;
  color: $white-text-color;
  line-height: 8px;
  cursor: pointer;
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($success-color, 0.7);
    color: $white-text-color;
    transition: all 0.15s ease 0s;
  }
}

mark {
  color: $white-text-color;
  background-color: transparent;
}

/**
 * Classes.
 */

.button {
  background-color: $action-color;
  margin: 10px;
  padding: 15px;
  border-radius: 2px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  color: $button-color;
  line-height: 8px;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgba($action-color, 0.7);
    color: $button-color;
    transition: all 0.15s ease 0s;
  }
}

.disabled-button {
  background-color: $action-color;
  margin: 10px;
  padding: 15px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 400;
  color: $button-color;
  line-height: 8px;
  opacity: 0.5;
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.text {
  color: $primary-color;
  font-size: 13px;
  margin-left: 10px;
  padding-top: 15px;
}

.white-text {
  color: $white-text-color;
  font-size: 13px;
  margin-left: 10px;
}

.detected {
  flex-grow: 1;
}
